*.bbl
*.blg
term1/behavioral_cloning/.idea/
term1/traffic_sign/.idea/
term1/behavioral_cloning/linux_sim/
*.pyc
term1/finding_lanes/CarND-Term1-Starter-Kit-Test/
*.ipynb_checkpoints/
*/data/
*data/
term1/finding_lanes/CarND-LaneLines-P1/
*.aux
*.dvi
*.log
*.out
*.pdf
*.gz
report.tex
*/submission/
*.yml~
*.sh~
*kdev4
*/.kdev4/
*udacity*
*simulator*
term2/P1_Extended_Kalman_Filter/build/
*kate-swp
*build*
*submission*
